.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notification_container {
    position: 'absolute';
    right: 5;
    bottom: 5;
}

.input_container {
    margin-bottom: 5px;
}
